
.vs/AI_Project/v17/.suo
.vs/AI_Project/v17/.suo
.vs/AI_Project/v17/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
AI_Project/.vs/AI_Project/DesignTimeBuild/.dtbcache.v2
AI_Project/.vs/AI_Project/project-colors.json
AI_Project/.vs/AI_Project/v17/.futdcache.v1
AI_Project/.vs/AI_Project/v17/.suo
AI_Project/AI_Project/obj/AI_Project.csproj.nuget.dgspec.json
AI_Project/AI_Project/obj/AI_Project.csproj.nuget.g.props
AI_Project/AI_Project/obj/Debug/net6.0/AI_Project.assets.cache
AI_Project/AI_Project/obj/Debug/net6.0/AI_Project.GeneratedMSBuildEditorConfig.editorconfig
AI_Project/AI_Project/obj/project.assets.json
AI_Project/AI_Project/obj/project.nuget.cache
*.sqlite
*.json
.vs/AI_Project/v17/.suo
